*.DS_Store
*_minted-paper
*auto
*.log
*.aux
*.bbl
*.blg
*.pdf
*.fdb*
*.dvi
*.fls
*.xcp
*~
\#*
.#*
*.olean
*.lock
build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
src/emacs/dependencies
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode
/*.nix
/library/init/version.lean
CMakeSettings.json
CppProperties.json
*_target
*.vo
*.vok
*.vos
*.glob
.CoqMakefile.d
CoqMakefile.conf
*.out
**/.coq-native
**/.makefile.d
**/makefile.conf
**/.Makefile.d
**/Makefile.conf
